header {
  padding-top: 24px;
  padding-bottom: 10px;
  text-align: center;

  width: 100%;
}

.days {
  display:grid;
  grid-template-columns: repeat(7, 1fr);  
}

.day {
  opacity: 0.45;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;

  font-size: 28px;
  letter-spacing: 1px;
  width: 100%;
}

.day.active {
  opacity: 1;
  font-weight: 500;
}

.day.center {
  opacity: 1;
  font-weight: 500;
}

.day:hover {
  opacity: 0.7;
}

.center-date {
  margin-top: 8px;
  font-size: 16px;
  opacity: 0.75;
}

.center-time {
  margin-top: 2px;
  font-size: 26px;
  opacity: 0.9;
}


.line-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.line-solid {
  height: 1px;
  width: 53%;
  border-bottom: 1px solid #cfcfcf;
}

.line-dashed {
  height: 1px;
  width: 47%;
  border-bottom: 1px dashed #cfcfcf;
}